#git+git://github.com/huggingface/transformers@189113d8910308b9f3509c6946b2147ce57a0bf7
python=3.11
tqdm
seaborn
pandas
matplotlib
numpy
jsonnet
tensorboardx
torch
spacy
scikit-learn
sklearn
transformers
notebook